<footer class="footer" role="contentinfo" aria-label="Pied de page">
  <div class="footer-column footer-links-column" aria-label="Liens principaux">
    <h3>Nos pages</h3>
    <a routerLink="/contact" class="footer-link">Contact</a>
    <a routerLink="/a-propos" class="footer-link">À propos</a>
  </div>

  <div class="footer-column social-links" aria-label="Réseaux sociaux">
    <div class="social-title">
      <h3>Nous retrouver</h3>
    </div>
    <div class="social-links-icons">
      <a
        href="https://www.facebook.com/lepetitvillagegr"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook Le Petit Village"
        class="social-link"
      >
        <img src="assets/logo-facebook.png" alt="Logo Facebook" class="footer-logo" />
      </a>

      <a
        href="https://www.instagram.com/lepetitvillagegr/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram Le Petit Village"
        class="social-link"
      >
        <img src="assets/logo-instagram.png" alt="Logo Instagram" class="footer-logo" />
      </a>
    </div>
  </div>
</footer>
