<section class="black-container">
<h2 class="about-title">A PROPOS DE NOUS</h2>
<p class="about-content">L’histoire d’Au Petit Village commence, comme toutes les belles aventures, par une passion 
  commune partagée par deux frères : 
  celle des héros indomptables d’un petit village Gaulois qui résiste encore et toujours à l’envahisseur. 
  Depuis notre enfance, nous rêvions de prolonger cette magie hors des 
  pages. Ce rêve devient réalité, en 2024 lorsque nous décidons de créer notre propre gamme de figurines 
  inspirées de cet univers culte.

  Dans un petit atelier où l’odeur de résine se mêle à celle du café chaud, chaque figurine prend vie 
  à la main, avec soin, humour, et un brin de nostalgie. Sculptées, peintes, et peaufinées dans les 
  moindres détails, ces pièces rendent hommage aux personnages qui ont marqué des générations.

  Au fil des années, Au Petit Village s’est transformé en un lieu de création, de mémoire, et de partage. 
  Nos figurines ne sont pas de simples objets : elles racontent des histoires, réveillent des souvenirs, 
  et font sourire petits et grands.

  Aujourd’hui encore, entre une potion magique et un éclat de rire, notre village continue de grandir… 
  sans jamais perdre l’esprit Gaulois qui l’anime.</p>
  </section>

  <div class="service">
  <p>
    Nous proposons actuellement {{ nombreProduits }} produits pour répondre à vos envies Gauloises.
  </p>
</div>