html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F9D0A3;
  color: #151217;
}

.header, .footer {
   background-color: #151217 ;
   color: #FDD90B;
}

@font-face {
  font-family: 'Bubbleboddy Neue';
  src: url('/fonts/BubbleboddyNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bubbleboddy Neue';
  src: url('/fonts/BubbleboddyNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


* {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.1rem;
}


h1, h2, h3, h4, h5 {
  font-family: 'Bubbleboddy Neue', sans-serif;
  color: #DA001E;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}



.black-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  min-height: 60vh;
  background-color: #151217;
  text-align: center;
  margin-bottom: 1rem;
}

.tri-buttons button {
  background-color: #FDD90B;
  color: #151217;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  font-family: 'Comfortaa', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tri-buttons button:hover {
  background-color: #DA001E;
  color: white;
}




