<section class="black-container">
  <h2 class="presentation-title">AU PETIT VILLAGE</h2>
  <p class="presentation-content">
    Plongez dans l’univers chaleureux et indémodable d’Astérix et Obélix avec nos figurines artisanales, 
    conçues avec passion et minutie. Chaque pièce rend hommage à l’humour, au courage et à l’amitié 
    qui ont fait le succès des célèbres Gaulois. Chez Au Petit Village, nous faisons revivre la magie 
    des aventures d’antan à travers des créations uniques, fidèles à l’esprit de la bande dessinée.
  </p>
</section>

<section class="produit">
  <h2 class="produit-title">NOS PRODUITS</h2>

  <div class="tri-buttons">
  <button (click)="toggleSortOrder()">
    Trier par prix : {{ sortOrder === 'asc' ? 'Croissant' : 'Décroissant' }}
  </button>
</div>

  <div class="catalogue-container">
    <div *ngFor="let produit of products | sortByPrice: sortOrder" class="custom-card">
      <div class="card-header">
        <h3 class="product-title">{{ produit.nom }}</h3>
      </div>

      <img class="product-image" [src]="'assets/' + produit.image" [alt]="produit.nom" />

      <div class="card-content">
        <p class="description">{{ produit.description }}</p>
        <p class="prix"><strong>{{ produit.prix }} €</strong></p>
      </div>
    </div>
  </div>
</section>

